/* Estilos generales */
*{
    box-sizing: box-model;
    margin: 0;
    padding: 0;
    /* border: solid 1px purple; */
}

:root {
    --main-font:"Kode Mono", monospace;
    --secondary-font: "Dosis", sans-serif;
}

body {
    display: flex;
    /* position: relative; */
    font-family: var(--secondary-font);
}



main{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

header{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 20px 0;
    font-family: var(--main-font);
}



pre{
    display: inline-block;
    background-color: grey;
    border: lightgray 1px solid;
    width: 100%;
}

code{
    padding: 10px;
    display: block;
}

@media (min-width: 650px) and (max-width: 1200px){

}


/* Estilos del NavBar */
nav{
    width: 25vw;
    border-right: solid gray 3px;
}
#nav-header{
    font-size: 1.6em;
    margin: 20px 25px;
}

nav ol{
    display: flex;
    flex-direction: column;
    text-align: left;
}

nav li{
    font-size: 1.12rem;
    list-style: none;
    height: 3rem;
    border-bottom: solid 1px grey;
    display: flex;
    align-items: center;
}

nav li:hover{
    background-color: gray;
}

nav li:nth-child(1){
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.nav-link{
    text-decoration: none;
    color: rgb(93, 86, 86);
    padding: 0 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link:hover{
    color: #fff;
}

/* Estilos generales de las secciones */
section:nth-child(1){
    padding: 30px 35px 0 35px ;
}
section{
    padding: 0px 35px;
}
section:nth-child(5){
    padding: 0 35px 45px 35px ;
}


/* Estilos Footer */
/* footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */